<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Card Operations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var items = /*[[${drugLifeCycleView}]]*/[];
        console.log(items);
        $(document).ready(function() {
            // Handle "Add" button click
            $('body').on('click', '.btn-add', function() {
                let newRow = $(this).closest('tr').clone();
                newRow.find('.option-default').attr("selected", "sellected")
                newRow.find('.btn-add').removeClass('btn-add btn-success').addClass('btn-delete btn-danger').text('Delete');
                newRow.insertAfter($(this).closest('tr'));
            });

            // Handle "Delete" button click
            $('body').on('click', '.btn-delete', function() {
                $(this).closest('tr').remove();
            });
        });
        /*]]>*/

    </script>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/submit}" th:object="${drugLifeCycleView}" method="post">
        <div class="card mt-3" th:each="drugLifeCycle, i : *{drugLifeCycleList}">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title" th:text="|DrugName: ${drugLifeCycle.drug.drugName}|"></h5>
                    <h5 class="card-title" th:text="|DrugId: ${drugLifeCycle.drug.id}|"></h5>
                </div>
                <div class="card-body">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Operation Type</th>
                            <th>Operation Step</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="operation, j : *{drugLifeCycleList[__${i.index}__].operationVOQueue}">
                            <td>
                                <select th:field="*{drugLifeCycleList[__${i.index}__].operationVOQueue[__${j.index}__].operationType}">
                                    <option selected value="com.rbpsc.ctp.api.entities.supplychain.operations.DrugOrderStep">Normal_Step</option>
                                    <option value="com.rbpsc.ctp.api.entities.supplychain.operations.attack.AttackAvailability">Attack_Availability</option>
                                    <option value="com.rbpsc.ctp.api.entities.supplychain.operations.attack.AttackConfidentiality">Attack_Confidentiality</option>
                                    <option class="option-default" value="com.rbpsc.ctp.api.entities.supplychain.operations.attack.AttackIntegrity">Attack_Integrity</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" th:field="*{drugLifeCycleList[__${i.index}__].operationVOQueue[__${j.index}__].operation.address}" />
                                <input th:value="Attacker" type="hidden" class="form-control" th:field="*{drugLifeCycleList[__${i.index}__].operationVOQueue[__${j.index}__].operation.roleName}"  />
                                <input th:value="|Attack+${i.index}+*{drugLifeCycleList[__${i.index}__].operationVOQueue[__${j.index}__].operation.id}|" type="hidden" class="form-control" th:field="*{drugLifeCycleList[__${i.index}__].operationVOQueue[__${j.index}__].operation.id}"  />
<!--                                <input type="text" class="form-control" th:field="*{drugLifeCycleList[__${i.index}__].operationVOQueue[__${j.index}__].operation.address}" />-->
<!--                                <input type="text" class="form-control" th:field="*{drugLifeCycleList[__${i.index}__].operationVOQueue[__${j.index}__].operation.roleName}" />-->
<!--                                <input type="text" class="form-control" th:field="*{drugLifeCycleList[__${i.index}__].operationVOQueue[__${j.index}__].operation.id}"  />-->
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-add">Add</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
    </form>
</div>
</body>
</html>
